form#directory-search-form.input-group.mb-0(onsubmit="submitSearch()" onchange="searchFinished()")
  select#search-select.form-select.border-end-0(style="max-width: 95px;")
    option(value='User') User
    option(value='Status') Status
  input#directory-search-input.form-control(type='text', name='search', placeholder='Search directory...') 
