doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
    title Directory 
  body
    .links
      a.btn.btn-primary(href='/messageWall') New Post
      a.btn.btn-primary Log Out
    #directory-wrapper
      h1#directory-header ESN Directory
      |  
      #directory
    script.
      const mockdata = [{user_id: 12334, username: "Kai", status: "online"}, {user_id: 38487, username: "Sichi", status: "online"}, {user_id: 38287, username: "Marcus", status: "offline"}, {user_id: 38217, username: "Haoming", status: "offline"}]

      let online = []
      let offline = []
      for(let i = 0; i < mockdata.length; i++){
        if(mockdata[i].status === "online"){
          online.push(mockdata[i])
        }
        else{
          offline.push(mockdata[i])
        }
      }

      online.sort(function(a,b){
        return a.username.localeCompare(b.username)
      })

      offline.sort(function(a,b){
        return a.username.localeCompare(b.username)
      })
 
      function renderESNList(list){
        for(let i = 0; i < list.length; i++){
          let directory = document.getElementById("directory");
          let userdiv = document.createElement("div");
          userdiv.setAttribute("class", "directory-user");

          let usernameField = document.createElement("p");
          usernameField.setAttribute("class", "usernameField");
          let usernameFieldText = document.createTextNode(list[i].username);
          usernameField.appendChild(usernameFieldText);

          let statusField = document.createElement("p");
          statusField.setAttribute("class", "statusField");
          let statusFieldText = document.createTextNode(list[i].status);
          statusField.appendChild(statusFieldText);

          if(list[i].status === "online"){
            statusField.classList.add("online");
          }
          else{
            statusField.classList.add("offline");
          }

          userdiv.appendChild(usernameField);
          userdiv.appendChild(statusField);
          directory.appendChild(userdiv);
        }
      }

      renderESNList(online)
      renderESNList(offline)


      
