doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='/stylesheets/index.css')
    title Home
  body
    .overlay
      .links
        a.btn.btn-primary(href='/users/login') Login
        a.btn.btn-primary(href='/users/register') Sign Up
      h1#header Emergency Social Network

  script. 
    if (new URL(window.location.href).searchParams.get('success') === 'true') {
            let body = document.getElementsByTagName("body")[0];

            let overlay = document.getElementsByClassName("overlay")[0];
            overlay.setAttribute("id", "overlay");
            

            let welcomeWrapper = document.createElement('div');
            welcomeWrapper.setAttribute("class", "welcome-wrapper")
            let div = document.createElement('div');
            div.setAttribute("class", "alert alert-primary");
            div.setAttribute("role", "alert");

            let heading = document.createElement('h4');
            heading.setAttribute("class", "alert-heading");
            let headingText = document.createTextNode("Welcome!");
            heading.appendChild(headingText);

            let msg = document.createElement('p');
            let msgText = document.createTextNode("Welcome to become a new member of Citizen! There are three kind of status for you to share with other member of Citizen: green means you are okay and you do not need help; yellow means you need help but it is not an emergency; red means you need help ASAP! You can change your status as you needed!");
            msg.appendChild(msgText);

            let buttonWrapper = document.createElement('div');
            buttonWrapper.setAttribute("class", "button-wrapper");
            let acknowledgeBtn = document.createElement('button');
            acknowledgeBtn.setAttribute("class", "btn btn-primary");
            acknowledgeBtn.setAttribute("id", "ack-btn");
            let acknowledgeBtnText = document.createTextNode("I accept");
            acknowledgeBtn.appendChild(acknowledgeBtnText);

            div.appendChild(heading);
            div.appendChild(msg);
            buttonWrapper.appendChild(acknowledgeBtn);
            div.appendChild(buttonWrapper);
            welcomeWrapper.appendChild(div);
            overlay.appendChild(welcomeWrapper);

            acknowledgeBtn.addEventListener("click", (event) => {
              overlay.removeChild(welcomeWrapper);
              overlay.removeAttribute("id");
            })
        }