doctype html
html
  head
    title Performance Test
    script.
      function startPerformanceTest() {
        fetch('/test/performance/start', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(response => response.json())
        .then(data => alert(data.message))
        .catch(error => alert('Error starting performance test'));
      }

      function endPerformanceTest() {
        fetch('/test/performance/end', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(response => response.json())
        .then(data => alert(data.message))
        .catch(error => alert('Error ending performance test'));
      }
  body
    h1 Performance Test
    button(onclick="startPerformanceTest()") Start Performance Test
    button(onclick="endPerformanceTest()") End Performance Test