html, body {
    margin: 0;
    background-color: #238EE1;
}

a {
    margin-top: 10px;
}

a.btn.btn-primary {
    margin: 6px 6px 6px 0;
    width: 85px;
}

.links {
    display: flex;
    justify-content: right;
}

h1#header {
    text-align: center;
    color: #031926;
}

.welcome-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.alert-heading {
    color: inherit;
    text-align: center;
    margin-bottom: 20px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

#overlay{
    background-color: #0000005e;
    height: 100vh;
}

.overlay-btn {
    background-color: #3a5a8c;
    border-color: #3a5a8c;
    color: gray;
}

button#ack-btn {
    width: 85px;
}

.alert-primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
    width: 500px;
    padding: 30px;
}

.LoginBox {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%
}


.login-form {
    width: 460px;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
    position: relative;
    z-index: 100;
    background-color: #78caff;
    border-radius: 18px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.login-form h2 {
    font-size: 25px;
    font-weight: 400;
    color: #031926;
    margin-bottom: 30px;
    margin-top: 0px;
}

.login-form input {
    margin: 6px 0;
    height: 36px;
    border: none;
    border-radius: 4px;
    padding: 0 14px;
    width: 350px;
}

.login-form button {
    margin-top: 20px;
    height: 36px;
    border: none;
    border-radius: 4px;
    padding: 0 14px;
    width: 150px;
}

.login-form button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
