html, body {
    margin: 0;
    background-color: #238EE1;
}

a {
    margin-top: 10px;
}

a.btn.btn-primary {
    margin: 6px 6px 6px 0;
    width: 95px;
}

#hamburgerMenu {
    display: none;
    position: fixed;
    flex-direction: column;
    background-color: #238EE1;
    width: 34vw;
    height: 100vh;
    z-index: 4;
    top: 0;
}

i.bi.bi-plus-circle-fill {
    font-size: 9vw;
    padding: 2vw;
    color: #222529;
}

.navbar {
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    height: 8vh;
    top: -0.5vh;
}

a.navLinks {
    color: white;
    text-decoration: none;
    background-color: #0d6efd;
    height: 6vh;
    margin: 0;
    font-size: 4.5vw;
    align-items: center;
    border-bottom: 2px solid #0703325c;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    top: 9vh;
    position: relative;
}

i.bi.bi-plus-circle-fill {
    font-size: 9vw;
    padding: 2vw;
    color: #004bb8;
    z-index: 5;
}

.links {
    display: flex;
    justify-content: right;
}

h1#header {
    text-align: center;
    color: #031926;
}

.welcome-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    z-index: 2;
    position: relative;
    top: -28vh;
}

.alert-heading {
    color: inherit;
    text-align: center;
    margin-bottom: 20px;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}

#overlay {
    position: fixed;
    background-color: #00000070;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 2;
}

.overlay-btn {
    background-color: #3a5a8c;
    border-color: #3a5a8c;
    color: gray;
}

button#ack-btn {
    width: 85px;
}

.alert-primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
    width: 82vw;
    padding: 30px;
    text-align: center;
}

.LoginBox {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    top: 14vh;
    position: relative;
    z-index: 0;
}


.login-form {
    width: 80vw;
    height: 35vh;
    max-width: 460px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    padding: 2vh 4vw 2vh 4vw;
    text-align: center;
    position: relative;
    z-index: 100;
    background-color: #78caff;
    border-radius: 18px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.login-form h2 {
    font-size: 5.5vw;
    font-weight: 400;
    color: #031926;
    margin-bottom: 2vh;
}

.login-form input {
    margin: 6px 0;
    height: 36px;
    border: none;
    border-radius: 4px;
    padding: 0 14px;
    width: 65vw;
}

.login-form button {
    margin-top: 20px;
    height: 36px;
    border: none;
    border-radius: 4px;
    padding: 0 14px;
    width: 150px;
}

.login-form button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#post-wrapper {
    width: 80vw;
    border-radius: 15px;
    height: 89vh;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    top: 2vh;
    flex-direction: column;
    align-items: center;
}

form#post-form {
    display: flex;
    flex-direction: column;
    width: 85vw;
    justify-content: end;
    margin-bottom: 5vw;
}

div#message-board {
    width: 85vw;
    margin: 0 3vw 3vw 3vw;
    overflow: scroll;
    height: 75vh;
    border-radius: 15px;
    background-color: white;
}

div#announcement-board {
    width: 85vw;
    margin: 0 3vw 3vw 3vw;
    overflow: scroll;
    height: 75vh;
    border-radius: 15px;
}

.empty-message{
    text-align: center;
    padding: 3vh;
}

.empty-announcement{
    text-align: center;
}

textarea {
    resize: vertical;
    height: 16vh;
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    overflow: scroll;
}

button#post-btn {
    border-radius: 0px 0px 15px 15px;
}

button#thread-btn {
    width: 68vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
}

h2#message-header {
    margin-top: 1.5vh;
    font-size: 8vw;
    color: white;
    margin-bottom: 1vh;
}

#change-status-btn {
    width: 64vw;
}

#directory-wrapper {
    background-color: #78caff;
    width: 80vw;
    border-radius: 15px;
    height: 62vh;
    position: relative;
    display: flex;
    margin: auto;
    top: 2vh;
    flex-direction: column;
}

#directory-header {
    text-align: center;
    padding: 15px 0px 0px 0px;
    font-size: 8vw;
}

div#directory {
    padding: 3vw 10vw 5vw 10vw;
    overflow: scroll;
    height: 53vh;
}

.status-item {
    margin-bottom: 5px;
}

.directory-user {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #c5ebff;
    margin-bottom: 2vw;
    padding: 0vw 2vw 0vw 3vw;
    border-radius: 5px;
    align-items: center;
}

p.usernameField {
    margin-bottom: 1vw;
    font-size: 4vw;
}

p.onlineStatusField {
    margin-bottom: 0vw;
    font-size: 3vw;
}

.online {
    color:rgb(0, 160, 78)
}

.offline {
    color: rgb(237, 0, 51)
}

span.message-sender {
    font-weight: bold;
    color: #031926;
}

.message-body {
    font-size: 4.5vw;
    color: #031926;
}

#status-wrapper {
    background-color: #78caff;
    border-radius: 15px;
    width: 80vw;
    margin: auto;
    padding: 5vw;
    text-align: center;
    margin-top: 1vh;
}

#status-dropdown{
    min-width: 141px;
}

.status-options {
    display: flex;
    justify-content: space-between;
    width: 130px;
    align-items: center;
}

.bi-bandaid-fill{
    color: rgb(237, 0, 51);
    margin-top: auto;
    margin-bottom: auto;
}

.bi-check-circle-fill{
    color:rgb(0, 160, 78);
    margin-top: auto;
    margin-bottom: auto;
}

.bi-exclamation-circle-fill{
    color: rgb(244 199 0);
    margin-top: auto;
    margin-bottom: auto;
}

.unReadField {
    background-color: red;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
    color: white;
    position: relative;
    left: 15vw;
    width: 6vw;
}

#status {
    width: 27vw;
    height: 4.5vh;
}

label {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

#overlayForTest {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

#directory-search-form {
    width: 80vw;
    margin: auto;
}

.search-form {
    width: 85vw;
}

.search-input {
    border-radius: 15px;
}

select#search-select {
    width: 23vw;
    font-size: 4vw;
    height: 4.5vh;
    border-radius: 15px 0px 0px 15px;
    background-color: #78caff;
    border: none;
}

select#urgencySelect {
    width: 35vw;
    font-size: 4vw;
    height: 4.5vh;
    border: none;
}

option{
    font-size: 3.5vw;
}

input#directory-search-input {
    height: 4.5vh;
    border-radius: 0px 15px 15px 0px;
}

div#show-more {
    font-weight: bold;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 15px;
    margin-bottom: 1vh;
}

div#createModal {
    background-color: #78caff;
    z-index: 10;
    position: fixed;
    width: 85vw;
    max-height: 46vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10vw;
}

div#thread-board {
    width: 85vw;
    margin: 0 3vw 3vw 3vw;
    height: 75vh;
    border-radius: 15px;
    background-color: #78caff;
}

div#threadNameWrapper {
    margin-bottom: 2vh;
}

div#urgencyWrapper {
    margin-bottom: 2vh;
}

.thread {
    background-color: #c5ebff;
    border-radius: 10px;
    padding: 2vw;
    margin-bottom: 1vh;
}

.delete {
    width: 32vw;
}

.cancel {
    width: 28vw;
}

#threadWrapper {
    overflow: scroll;
    max-height: 61vh;
    margin-top: 4vh;
    margin-bottom: 2vh;
    border-radius: 10px;
    width: 68vw;
    padding: 0
}

h2#createHeader {
    text-align: center;
}

h2#editHeader {
    text-align: center;
}

label{
    font-size: 4vw;
    color: #031926;
    padding-bottom: 0.5vh;
}

div#buttonWrapper {
    justify-content: space-between;
    display: flex;
    margin-top: 3vh;
}

.thread-name {
    font-weight: bold;
    font-size: 5vw;
}

.lowPriority {
    color: rgb(0, 160, 78);
}

.normPriority{
    color: rgb(244 199 0);
}

.highPriority{
    color: rgb(237, 0, 51);
}

.bi-pencil-fill {
    color: #0d6efd;
    font-size: 17px;
}

div#editModal {
    background-color: #78caff;
    z-index: 10;
    position: fixed;
    width: 85vw;
    max-height: 46vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 8.5vw;
}

.bi-x {
    font-size: 30px;
    position: fixed;
    top: 1vh;
    left: 3vh;
    color: #031926;
}